@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased;
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-[12px] bg-opacity-70;
  }

  .material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 0;
  }

  10% {
    opacity: 1;
    transform: translateY(-20px) scale(1.2);
  }

  100% {
    transform: translateY(-300px) scale(1);
    opacity: 0;
  }
}

@keyframes popIn {
  from {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

.animate-pop-in {
  animation: popIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.animate-float-up {
  animation: floatUp 2.5s ease-out forwards;
}